In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path('./Resources/lending_data.csv')
df_lending_data = pd.read_csv(file_path)

# Review the DataFrame
df_lending_data.tail(25)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
77511,15900.0,9.872,73500,0.591837,9,2,43500,1
77512,19200.0,11.265,86600,0.653580,12,2,56600,1
77513,20600.0,11.881,92400,0.675325,14,3,62400,1
77514,16600.0,10.169,76300,0.606815,10,2,46300,1
77515,18600.0,11.045,84500,0.644970,12,2,54500,1
77516,19700.0,11.509,88900,0.662542,13,2,58900,1
77517,18100.0,10.836,82600,0.636804,11,2,52600,1
77518,20300.0,11.747,91200,0.671053,13,3,61200,1
77519,17200.0,10.437,78800,0.619289,10,2,48800,1
77520,21400.0,12.216,95600,0.686192,14,3,65600,1
77521,20900.0,12.020,93700,0.679829,14,3,63700,1
77522,21700.0,12.363,96900,0.690402,15,3,66900,1
77523,20400.0,11.813,91800,0.673203,13,3,61800,1
77524,16900.0,10.302,77500,0.612903,10,2,47500,1
77525,20300.0,11.753,91200,0.671053,13,3,61200,1
77526,18300.0,10.895,83100,0.638989,11,2,53100,1
77527,20900.0,11.988,93400,0.678801,14,3,63400,1
77528,15100.0,9.557,70500,0.574468,9,2,40500,1
77529,19300.0,11.347,87400,0.656751,12,2,57400,1
77530,19700.0,11.508,88900,0.662542,13,2,58900,1
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_lending_data['loan_status']

# Reference: https://stackoverflow.com/questions/13411544/delete-a-column-from-a-pandas-dataframe
# Separate the X variable, the features
X = df_lending_data.drop(columns=['loan_status'])

In [4]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame 
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [6]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [7]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver = 'lbfgs',
                                max_iter = 200,
                                random_state=1)

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [8]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
predictions_df =  pd.DataFrame({"Predictions":predictions, "Actual":y_test}).reset_index(drop=True)
predictions_df.head(10)

   Predictions  Actual
0            0       0
1            0       1
2            0       0
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [9]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[18679,    80],
       [   67,   558]], dtype=int64)

In [11]:
# Print the classification report for the model
from sklearn.metrics import classification_report
target_names=['healthy loans', 'high-risk loans']
print(classification_report(y_test, predictions, target_names = target_names))

                 precision    recall  f1-score   support

  healthy loans       1.00      1.00      1.00     18759
high-risk loans       0.87      0.89      0.88       625

       accuracy                           0.99     19384
      macro avg       0.94      0.94      0.94     19384
   weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**  Using the confusion matrix we can see the majority of records are true-positive records, indicating that 18679 records are healthly loans, and only 558 true-negative records are high-risk loans. This does align with the predictions, that showed the vast majority of loans are healthy loans, and there are far fewer high-risk loans. The remaining records are the 80 false-positve and 67 false-negative records, and it is these records to which further attention needs to be paid, to allow them to be categorised accurately.
However, the rows and columns of the matrix both add up to the 19384 records in the model, which is an indicator that the model is generally very accurate. 

Using the classification report, we see that the logistic regression model does a very good job at predicting the healthy loans, with the model achieving 100% precision and 100% recall for healthly loans. While the model does have 99% accuracy overall and a weighted average accuracy of 99%, these very high percentages, are potentially skewed by the input data have many more healthy loan records, than high-risk loan records. The macro average accuracy of 94%, and the precision and recall percentages of 87% and 89% respectively for high-risk loans, are indicative of the logistic regression model being slightly less accurate for predicting high-risk loans. So to improve the model further, attention would need to be paid to identifying features that help determine high-risk loans.

---